.leaderBoard-container {
  position: relative;
  color: var(--primary);
  width: 50rem;
  padding: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  border: solid 1px var(--primary);
  border-radius: 2rem;
}
.leaderBoard-title {
  border-bottom: 2px solid var(--primary);
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-left: 0.6rem;
}
.leaderBoard-score {
  text-align: center;
  margin-top: 1rem;
}
.leaderBoard-reset {
  padding: 2.4rem;
  background: rgb(255, 145, 0);
  border-radius: 40%;
  color: white;
  position: absolute;
  right: -16rem;
  top: 2rem;
  cursor: pointer;
  border: 0.2em solid var(--primary);
}
.leaderBoard-reset:hover {
  transform: scale(1.1);
}
