.pick-disabled {
  pointer-events: none;
}
.pick {
  display: flex;
}

.pick-items {
  display: flex;
  justify-content: center;
}
.pick-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 16rem;
  margin-left: 0.8rem;
}
.pick-icon img {
  width: 10rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .pick-icon img {
    width: 8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .pick-items {
    margin-top: -3rem;
  }
}
