.navbar {
  padding: 1.6rem 1.2rem;
  margin-bottom: 4rem;
  background: white;
  box-shadow: 0px 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
nav {
  display: flex;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

nav h1 {
  margin-left: 2rem;
  font-size: 3rem;
}
nav .navbar-links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

nav .navbar-links div .btn {
  margin-left: 1.6rem;
  font-size: 2rem;
}

nav .navbar-links span {
  margin-right: 1.6rem;
  background: white;
}
.navbar-title {
  font-size: 3rem;
  font-weight: 800;
}
