/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

/* variables */
:root {
  --primary: #210d3b;
  --secondary: #ebebeb;
  --warning: #da0f41;
  --transition: all 0.3s linear;
  --light-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: var(--primary);
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
p,
span {
  background: #fafafa;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.error {
  color: var(--warning);
  margin-bottom: 0.6rem;
}
/* layout */
.content {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem;
}

/* buttons */
button,
.btn {
  background: var(--secondary);
  border-radius: 0.8rem;
  border: 0;
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
}
button:hover,
.btn:hover {
  background: var(--primary);
  color: var(--secondary);
}

button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 50rem;
  margin: 10rem auto 0;
  padding: 4rem;
  border-radius: 0.8rem;
  box-shadow: var(--light-shadow);
  background: white;
}
input {
  border: 0;
  border-bottom: 0.1rem solid var(--secondary);
  padding: 0.1rem;
  outline: none;
  display: block;
  width: 100%;
  margin: 2rem auto;
  font-size: 1.4rem;
}

/* loader */
.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.loader {
  display: block;
  width: 10rem;
  height: 10rem;
  border: 0.5rem solid (var(--secondary));
  border-top: 0.5rem solid var(--primary);
  border-radius: 50%;
  margin-top: 10rem;
}

/* global media quries  */
@media (max-width: 76,8rem) {
  body,
  p,
  span {
    font-size: 1.4rem;
  }
  .content {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 2rem;
  }
  button,
  .btn {
    padding: 0.6rem 1rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
  }
}
