.play-player-hand {
  transform: rotateY(180deg);
}
@media screen and (max-width: 768px) {
  .play-hands {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  .play-hands img {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  .play-hands {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .play-hands img {
    width: 60%;
  }
}
